name: Build Kivy APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
        openjdk-17-jdk \
        zip unzip \
        autoconf libtool pkg-config \
        zlib1g-dev libncurses5-dev libncursesw5-dev \
        libtinfo6 \
        cmake libffi-dev libssl-dev

    - name: Install buildozer
      run: |
        python -m pip install --upgrade pip
        pip install buildozer cython==0.29.36

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
